@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .card-text {
        text-align: center;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Влад Нечаев</h1>
    <p>С чем я научился работать в колледже</p>
</div>





<div class="container">
    <div class="row no-gutters">
        <div class="col-4 mb-3">
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <img src="~/images/Logo-csharp.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">C#</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <img src="~/images/logo-js.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">JavaScript</p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <img src="~/images/logo-assembler.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Assembler</p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <img src="~/images/logo-mysql.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">MySQL</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <img src="~/images/logo-1c.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">1C Предприятие</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">Дополнительно</h1>
    <p></p>
</div>

<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <img src="~/images/logo-github.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">GitHub </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <img src="~/images/logo-unity.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Unity</p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <img src="~/images/logo-as.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">AndroidStudio</p>
                </div>
            </div>
        </div>
    </div>
</div>
